* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    
}

ul li {
    list-style: none;
}

html,
body {
    height: 100%;
}

#topbar {
    width: 100%;
    height: 28px;
    background-color: #f2f2f2;
}

.topbar {
    width: 1190px;
    height: 28px;
    margin: auto;

}

.topbar .left {
    float: left;

}

.topbar .right {
    float: right;
}

.topbar a {
    color: #666;
    line-height: 28px;
    font-size: 12px;
    padding: 0 5px;
}

.topbar .m-qrcode {
    padding: 0 19px;
    position: relative;
}

.topbar .m-qrcode i {
    height: 0px;
    border: 5px solid #000;
    border-color: #999 transparent transparent transparent;
    position: absolute;
    top: 7px;

}

#header {
    width: 100%;
    height: 78px;
    padding: 24px 0 16px 0;
}

.header {
    width: 1190px;
    height: 78px;
    margin: auto;
}

.header .logo {
    float: left;
    width: 215px;
    height: 64px;
}

.header .search {
    float: left;
    width: 645px;
    height: 58px;
    padding: 20px 0 0 20px;
    margin-left: 85px;
}

.header .search form input {
    width: 450px;
    height: 35px;
    line-height: 25px;
    border: 1px solid #c81623;
    outline: none;
}

.header .search form a {
    position: relative;
    left: -5px;
    display: inline-block;
    width: 100px;
    height: 37px;
    line-height: 37px;
    background: #ea2329;
    color: #fff;
    font-size: 14px;
    text-align: center;
    border-radius: 0 5px 5px 0;
    vertical-align: middle;
}

.header .search .hots span {
    margin-top: 3px;
    color: #ea2329;
    font-size: 12px;
}

.header .search .hots a {
    margin-top: 3px;
    color: #999;
    font-size: 12px;
}

.header .simple a {
    float: right;
    width: 120px;
    height: 37px;
    background: #ea2329;
    margin: 20px 30px 0 0;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    padding-left: 20px;
}

.header .simple .icon-gouwuche {
    display: inline-block;
    position: relative;
    margin: 2px 10px 0 0;
    font-size: 20px;
    line-height: 18px;
    vertical-align: sub;
    color: #fff;
}


.header .simple b {
    position: absolute;
    top: -14px;
    left: 7px;
    padding-left: 5px;
    padding-right: 5px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 12px;
    color: #ea2329;
    background: #fff;
    border-radius: 20px;
    border: 1px solid #ea2329;
    font-weight: normal;
}

.header .simple span {
    font-size: 12px;
    line-height: 37px;
}

#nav {
    width: 100%;
    height: 40px;
}

.nav {
    width: 1190px;
    height: 40px;
    margin: auto;
}

.nav .cate {
    float: left;
    width: 223px;
    height: 40px;
}

.nav>.cate>a {
    display: block;
    color: #fff;
    font-size: 14px;
    line-height: 40px;
    background: #008fd5;
    padding-left: 70px;
}

.nav .cate ul {
    width: 223px;
    height: 480px;
    display: none; 
}

.nav .cate li a {
    display: block;
    width: 203px;
    height: 70px;
    background: #fff;
    padding: 0 10px;
    padding-top: 10px;
    color: #666;
    font-size: 14px;
    opacity:0.92;
}

.nav .cate li img {
    width: 30px;
    height: 30px;
    margin: 0 30px;
    transform: translateY(10px)
}

.nav>ul>li {
    float: left;
}

.nav>ul>li>a {
    display: block;
    width: 110px;
    line-height: 40px;
    color: #333;
    font-size: 14px;
    text-align: center;
}

.nav li a:hover {
    color: #c81623;
}

#main {
    width: 100%;
    height: 1200px;
    background: #f7f7f5;
}

.main {
    width: 1190px;
    height: 1200px;
    margin: auto;
    text-align: center;
}

.main .list {
    margin-left: 15px;
}

.main li {
    float: left;
    width: 280px;
    height: 360px;
    background: #fff;
    margin: 5px;
}

.main img {
    width: 150px;
    height: 150px;
}

.main h3 {
    height: 17px;
    line-height: 17px;
    font-size: 17px;
    color: #333;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 11px;
    padding: 0 20px;
}

.main p {
    height: 14px;
    line-height: 14px;
    font-size: 12px;
    color: #b0b0b0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 28px;
    padding: 0 20px;
}

.main span {
    font-size: 17px;
    color: #cc0000;
}

.page {
    height: 40px;
    width: 60%;
    margin: auto;
}

.page p {
    cursor: pointer;
}

#helpinfo {
    width: 100%;
    height: 240px;
    margin: 55px 0 0 0;
}

.helpinfo {
    width: 1190px;
    height: 220px;
    margin: auto;
    border-top: 1px solid #dadada;
    padding-top: 20px
}

.helpinfo .item {
    float: left;
    width: 180px;
    margin-right: 18px;
    padding-left: 40px;
}

.helpinfo .item span {
    color: #333;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    border-bottom: 1px solid #dadada;
    margin-bottom: 10px;
    padding-right: 20px;
}

.helpinfo .item li {
    font-size: 12px;
    margin-bottom: 5px;
    color: #666;
}

.helpinfo .item1 {
    float: left;
    width: 180px;
    margin-right: 18px;
    padding-left: 40px;
}

.helpinfo .item1 h3 {
    font-size: 13px;
    color: #ccc;
    margin-bottom: 9px;
}

.helpinfo .item1 p {
    font-size: 18px;
    color: #0b5394;
    margin-bottom: 9px;
}

.helpinfo .item1 span {
    font-size: 13px;
    color: #666;
}

.helpinfo .item1 img {
    width: 60px;
    height: 60px;
    margin-top: 9px;
}

#footer {
    width: 100%;
    height: 142px;
    padding-bottom: 35px;
    text-align: center;
}

.footer {
    width: 1190px;
    height: 142px;
    margin: auto;
    font-size: 12px;
}

.footer span {
    font-size: 12px;
    color: #ccc;
    padding: 0 10px;
    border-left: 1px solid #ccc;
    line-height: 40px
}

.footer a {
    color: #1766dd;
}

.footer img {
    width: 26px;
    height: 36px;
}