* {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none
}

a {
    text-decoration: none;
}

html,
body {
    height: 100%;
}

#header {
    width: 100%;
    height: 108px;
}

.header {
    width: 1190px;
    height: 108px;
    margin: auto;
}

.header img {
    width: 215px;
    height: 64px;
    margin-top: 24px;
}

#main {
    width: 100%;
    height: 550px;
    border-bottom: 1px solid #ccc;
}

.main {
    width: 840px;
    height: 528px;
    margin: auto;
}

.main h1 {
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: normal;
    color: #666666;
    text-indent: 230px;
    letter-spacing: 10px;
}

.main p {
    margin-bottom: 20px;
}

.main .lab {
    float: left;
    width: 126px;
    line-height: 36px;
    text-align: right;
    font-size: 14px;
}

.main .error {
    font-size: 4px;
    color: red;
}

.main label em {
    margin-right: 5px;
    color: #ef4521;
}


.main p input {
    width: 380px;
    height: 36px;
    margin-left: 20px;
}

.main img {
    width: 70px;
    height: 30px;
    vertical-align: middle;
}

.main .get {
    display: inline-block;
    height: 53px;
    width: 84px;
    line-height: 53px;
    color: #666;
    padding: 0 14px;
    background-color: #ccc;
}

.main .box {
    font-size: 14px;
    margin-bottom: 20px;
}

.main .check {
    margin-left: 146px;

}

.main .to-denlu {
    float: right;
    color: #666666;
}
.main #box .box{
    position: relative;
}
#check-error{
    position: absolute;
    left:370px;
}
#code-error{
    position: absolute;
    right:300px;
    transform: translateY(10px);
}
.main .btn {
    width: 380px;
    height: 53px;
    background-color: #ca151d;
    color: #fff;
    font-size: 14px;
    outline: none;
    border: 0;
    margin-left: 146px;
}

#footer {
    width: 100%;
    height: 24px;
    padding-bottom: 35px;
}

.footer {
    width: 1190px;
    height: 24px;
    margin: auto;
    text-align: center;
    font-size: 12px;
}